{% extends 'base.html.twig' %}

{% block body %}
<p>Wprowadź wiadomość AIS</p>
 <form class="form-inline" action="" method="post">
  <div class="form-group">
    <label for="email">Wiadomość AIS:</label>
    <input name="aismessage" type="text" class="form-control" id="text">
  </div>

  <button type="submit" class="btn btn-default">dekoduj</button>
</form>
{% if (message!= NULL) and (message !="bad checksum") %}
 <div id="map" style="width:500px;height:500px;"></div>
    <script>
      function initMap() {
        var point = {lat: {{message.latitude}}, lng: {{message.longitude}}};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
	  center: point
        });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
            'sandstone rock formation in the southern part of the '+
            'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
            'south west of the nearest large town, Alice Springs; 450&#160;km '+
            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
            'features of the Uluru - Kata Tjuta National Park. Uluru is '+
            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
            'Aboriginal people of the area. It has many springs, waterholes, '+
            'rock caves and ancient paintings. Uluru is listed as a World '+
            'Heritage Site.</p>'+
            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
            '(last visited June 22, 2009).</p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: point,
          map: map,
          title: 'Uluru (Ayers Rock)'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwERabx1kzIbW_UaQttj3Yjtp2da58dEA&callback=initMap">
    </script>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Parametr</th>
        <th>wartość</th>
      </tr>
    </thead>
    <tbody>
{% for key,value in message%}
      <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
      </tr>
    {%endfor%} 
    </tbody>
  </table>

{% endif %}
{% if message == "bad checksum"%}
Niepoprawna suma kontrolna wiadomości AIS.
{% endif %}
{% endblock %}

