{% extends 'base.html.twig' %}

{% block body %}

<form class="form-inline" action="" method="post">
  <div class="form-group">
    <label for="email">Czas:</label>
    <input name="datetime" type="text" class="form-control" id="text">
  </div>

  <button type="submit" class="btn btn-default">szukaj</button>
</form>

 <div id="map" style="width:1000px;height:700px;"></div>
    <script>
      function initMap() {
        

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
	  center: {lat:54.502135, lng:18.817989}
        });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
            'sandstone rock formation in the southern part of the '+
            'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
            'south west of the nearest large town, Alice Springs; 450&#160;km '+
            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
            'features of the Uluru - Kata Tjuta National Park. Uluru is '+
            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
            'Aboriginal people of the area. It has many springs, waterholes, '+
            'rock caves and ancient paintings. Uluru is listed as a World '+
            'Heritage Site.</p>'+
            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
            '(last visited June 22, 2009).</p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        {%for point in points%}
        {%if point.latitude != 'not available' and point.longitude != 'not available'%}
       var point = {lat: {{point.latitude}}, lng: {{point.longitude}}};

        var marker = new google.maps.Marker({
          position: point,
          map: map,
          title: 'Uluru (Ayers Rock)'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
        {%endif%}
        {%endfor%}
      }
    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwERabx1kzIbW_UaQttj3Yjtp2da58dEA&callback=initMap">
    </script>

{% endblock %}

